<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Super hero details</title>
</head>
<body>
<h1>Hero details</h1>
<ul>
    <li><h2>{{hero.name}} </h2></li>
    <li><h2>{{hero.alter_ego}}</h2></li>
    <a href="{% url 'superheroes:delete' hero.id %}">delete hero</a><br>
    <a href="{% url 'superheroes:update' hero.id %}">update hero</a>
</ul>
</body>
</html>