
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Superhero index</title>
</head>
<body>
    <h1>List of hereos</h1>
    <ul>
        {% for hero in all_heroes %}
        <li><h2>{{hero.name}} - <a href="{% url 'superheroes:detail' hero.id %}">Hero stats</a> </h2></li>
        {% endfor %}
        
    </ul>
    <a href="{% url 'superheroes:create' %}">create hero</a><br>

</body>
</html>