<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update hero</title>
</head>
<body>
<form action="{% url 'superheroes:update' hero.id %}" method="post">

    {% csrf_token %}
    Name: <input type="text" name="name" id="name" value="{{hero.name}}"/><br>
    Alter Ego: <input type="text" name="alter_ego" id="alter_ego" value="{{hero.alter_ego}}" /><br>
    Primary Ability: <input type="text" name="primary_ability" id="primary_ability" value="{{hero.primary_ability}}"/><br>
    Secondary Ability: <input type="text" name="secondary_abilith" id="secondary_abilith" value="{{hero.secondary_abilith}}"/><br>
    Catchphrase: <input type="text" name="catch_phrase" id="catch_phrase" value="{{hero.catch_phrase}}"/><br>
    <input type="submit" value="update!">
</form>
</body>
</html>